* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1 {
  width: 100%;
  z-index: -2;
  color: white;
  background-image: url("images/blog_header_bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 180px 0 120px 0;
  position: fixed;
  top: 0;
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
}

h2,
h3 {
  color: #44535e;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  line-height: 1.4;
  font-family: "Lato", sans-serif;
}

main p {
  text-align: justify;
  text-justify: inter-word;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

header {
  text-align: center;
  width: 32px;
  height: 50px;
}

#hamburger {
  position: relative;
  top: -60px;
  visibility: hidden;
  transition: all 0.5s ease-out;
  z-index: -1;
  margin-left: 10px;
}

header > nav {
  height: 50px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 5px #333;
  transition: all 0.3s ease-in;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background: white;
}

li {
  height: 100%;
}

main {
  width: 100%;
  min-width: 300px;
  margin: 287px auto 0 auto;
  background: white;
  padding: 0 5%;
}

.blog {
  display: flex;
}

aside {
  width: 33.33%;
  padding: 90px 0 0 25px;
}

article {
  padding: 5% 0;
  width: 66.66%;
  transition: all 0.3s ease-in-out;
}

img {
  margin: 20px 0;
}
article > img {
  width: 100%;
}
#about img {
  width: 100%;
}

#issues ul {
  color: #7b97a9;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row input {
  margin-bottom: 10px;
}
.row input:not(:last-child) {
  margin-right: 10px;
}

textarea {
  height: 170px;
  padding: 8px 15px;
  resize: none;
}

input {
  height: 30px;
  padding: 0 15px;
  text-transform: uppercase;
}

input,
textarea {
  width: 100%;
  min-width: 125px;
  margin-bottom: 10px;
  appearance: none;
  border-style: none;
  border: 2px solid #44535e;
}

footer {
  min-width: 300px;
  margin-top: 40px;
  text-align: center;
  background-color: #ccf3f6;
  padding: 10px;
}

hr {
  height: 1px;
  background-color: #44535e;
  border: none;
}

footer img {
  padding: 30px 10px 10px 10px;
}

footer input {
  width: 16.66%;
  margin: 0 10px 30px 0;
}

footer input[type="text"] {
  border: none;
}

footer input[type="submit"] {
  background: #ccf3f6;
}

*:focus {
  outline: none;
}

footer p {
  padding: 5px 0 5px 0;
  color: #7b97a9;
  margin: 0;
}

@media only screen and (max-width: 925px) {
  aside {
    display: none;
  }
  article {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  header > nav {
    top: -60px;
    visibility: hidden;
  }

  #hamburger {
    position: fixed;
    top: 0px;
    visibility: visible;
  }

  .row {
    flex-direction: column;
  }
}
