#blog-header-image {
  background-image: url("../images/blog_header_bg.jpg");
  height: 300px;
  padding-top: 150px;
}

.blog-title-wrapper {
  position: relative;
  padding: 150px 0;
}

.blog {
  display: flex;
}

main {
  margin: 250px auto 0 auto;
}

main p {
  text-align: justify;
  text-justify: inter-word;
}

aside {
  padding: 90px 0 0 25px;
  width: 33.33%;
}

article {
  width: 66.66%;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 925px) {
  aside {
    display: none;
  }
  article {
    width: 100%;
  }
}
