* {
  box-sizing: border-box;
}

/*//////////////// layout ////////////////*/

.flex-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-row > :not(:last-child) {
  margin-right: 15px;
}

.column {
  width: 100%;
}

/*//////////////// text ////////////////*/

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1 {
  width: 100vw;
  color: whitesmoke;
  font-weight: bold;
  font-size: 8vh;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0;
}

h2,
h3 {
  color: #44535e;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
}

header h2 {
  width: 100vw;
  color: whitesmoke;
  margin: 12px 0;
  font-size: 4vh;
  letter-spacing: 0.1em;
}

p {
  line-height: 1.4;
  font-family: "Lato", sans-serif;
}

.archive p {
  padding: 50px 0;
}
.centered p + p {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #7f9aab;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #44535e;
}

/*//////////////// top-nav ////////////////*/

#hamburger {
  width: 32px;
  position: fixed;
  top: -60px;
  visibility: hidden;
  transition: all 0.5s ease-out;
  z-index: -1;
  margin-left: 10px;
}
#hamburger:hover {
  cursor: pointer;
}

nav {
  height: 50px;
  background: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  /* box-shadow: 0 1px 120px #333; */
  transition: all 0.3s ease-in;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/*//////////////// Title ////////////////*/

.header-image {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  margin: 0;
}

#main-header-image {
  background-image: url("../images/home_header_bg.jpg");
}

header {
  text-align: center;
  width: 32px;
  height: 50px;
}

.main-title-wrapper {
  position: relative;
  padding: 22vh 0;
}

/*//////////////// main ////////////////*/

main {
  width: 100%;
  min-width: 300px;
  margin: 100vh auto 0 auto;
  background: white;
  padding: 50px 5% 40px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  text-align: center;
}

img {
  margin: 20px 0;
  width: 100%;
}

/*//////////////// about ////////////////*/

#about {
  background: #cbf3f5;
  padding: 60px 10vw;
  margin-top: 40px;
}

#about p:first-of-type {
  margin-top: 20px;
}

/*//////////////// gallery ////////////////*/

#gallery {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 60px;
}

.gallery {
  column-count: 3;
  width: 100%;
  flex-flow: column wrap;
  justify-content: flex-start;
}

#gallery h3 {
  padding-bottom: 30px;
}

#gallery img {
  margin: 0 0 10px 0;
}

#gallery img:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
}

/*//////////////// form ////////////////*/

form {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding-top: 50px;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

textarea {
  height: 170px;
  padding: 8px 15px;
  resize: none;
  width: 100%;
}

input {
  height: 30px;
  padding: 0 15px;
  text-transform: uppercase;
  width: 100%;
}

button {
  height: 30px;
}

.flex-row input {
  margin-bottom: 10px;
}

input,
textarea,
button {
  min-width: 125px;
  margin-bottom: 10px;
  appearance: none;
  border-style: none;
  border: 2px solid #44535e;
  font-weight: bold;
  color: #44535e;
}

/*//////////////// footer ////////////////*/

footer {
  min-width: 300px;
  text-align: center;
  background-color: #ccf3f6;
  padding: 10px;
}

hr {
  height: 1px;
  background-color: #44535e;
  border: none;
}

.social-icons {
  margin: 30px 10px 20px 10px;
  width: 24px;
}

footer input {
  width: 16.66%;
  margin: 0 10px 30px 0;
}

footer input[type="text"] {
  border: none;
}

footer input[type="submit"] {
  background: #ccf3f6;
}

*:focus {
  outline: none;
}

footer p {
  padding: 5px 0 5px 0;
  color: #7b97a9;
  margin: 0;
}

/*//////////////// media queries ////////////////*/

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 5vw;
  }
  h1 + h2 {
    font-size: 2.5vw;
  }
  .archive img {
    width: 60%;
  }
  .flex-row {
    flex-direction: column;
    margin-right: 0;
  }
  .flex-row > :not(:last-child) {
    margin-right: 0;
  }

  .gallery {
    column-count: 2;
  }
}

@media only screen and (max-width: 600px) {
  header > nav {
    top: -60px;
    visibility: hidden;
  }

  #hamburger {
    position: fixed;
    top: 0px;
    visibility: visible;
  }
  .archive img {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  .gallery {
    column-count: 1;
  }
}
